/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* Add fonts from the app's server 
    @font-face {                
      font-family: 'FontName';
      src: url('FontName.woff2') format('woff2');
    } 
    ...or hosted services like Google Fonts 
    @import url(//fonts.googleapis.com/css?family=Font+Name);
  */
  @import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@800&family=Ubuntu&display=swap');  /* @import 'node_modules/modern-normalize/modern-normalize.css'; */
        /* npm install modern-normalize
          Resets elements for browser consistency.  
          https://www.npmjs.com/package/modern-normalize
        */         
  @import "~react-image-gallery/styles/css/image-gallery.css";
  /* Component-specific stylesheets, if any. 
    @import "component1.css";   
  */

/*   ----- Variables  -----  */
:root {
    --primary-dark: #3a5e8ccb;
    --primary: #8BADD9;
    --primary-transparent: #8badd99c;
    --primary-light: #cee1f2c4;
    --secondary: #260101;
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {} or :root {} */
    background-color: var(--primary);
    background-image: url('images/Background/monument-valley-rock-formations.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--secondary);
    font-family: 'Ubuntu', sans-serif; /* Define with at least one font name and its related generic family name.*/
    margin: 2%;
    padding: 5px;
    max-width: 100vw;
  }
  
  /*  ----- Page layout blocks -----  */
  header {
    padding: 10px;
    margin: 10px 10px 0px 10px;
  }
  main {
    background-color: var(--primary-light);
    margin: 10px;
    border-radius: 5px;
    border: 3px solid var(--primary);
    padding: 8px 15px 8px 15px;
  }
  section {}
    article {}
      #topic1 {}
      #topic2 {}
  div {}
  aside {}
  footer {
    background-color: var(--primary-dark);
    text-align: center;
    margin: 10px;
    border: 3px solid var(--secondary);
    border-radius: 5px;
    color: var(--primary);
  }
  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {}
  a:hover {}
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    font-family: 'Pathway Extreme', sans-serif;

  }
  nav a {
    margin: 10px;
    background-color: var(--primary-light);
    border-radius: 5px;
    padding: 10px;
    text-decoration:none;
  }
  nav a:hover {
    margin: 10px;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px;
    text-decoration:none;
  }
  nav a:visited {
    color: var(--secondary);
  }
  
  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Pathway Extreme', sans-serif;
  } 
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid var(--secondary);
    border-collapse: collapse;
    width: 90%;
  }
  caption {
    margin: 10px;
    color: var(--secondary);
  }
  thead {
    color: var(--primary);
    background-color: var(--secondary);

  }
  tbody {
    padding: 10px;

  }
  tfoot {}
  tr {
  }
    tr:nth-child(even) {
      background-color: var(--primary-light);
    }
    tr:nth-child(odd) {
      background-color: var(--primary-transparent);
    }
  th {
    padding: 10px;
    text-align: center;
  }
  td {
    color: var(--secondary);
    text-align: center;
    padding: 10px;
    border: 1px solid var(--secondary);
  }
    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */
  form {}
  fieldset {
    border-color: var(--secondary);
    margin: 10px;
    padding: 10px;
  }
    legend {
      color: var(--secondary);
      font-size: 20px;
      margin: 0px 15px;
      padding: 0px 15px;
    }
  label {
    display: block;
    margin: 10px;
    font-size: 110%;
  }
  label.required::after {
    content: " * ";
    color: red;
  }
  input, button, textarea, select {
    font-size:110%;
    padding:1%;
    font-family:inherit;
  }
  button {}
  input {
    margin: 10px;
  }
  input::placeholder {
  color: var(--secondary);
  }
  input:invalid {
      border:3px solid red;
      border-radius: 5px;
    }
    input:valid {
      border:2px solid green;
      border-radius: 5px;
    }
    input[type=checkbox]:checked + label {
      color: green;
      font-style: italic;
    } 
    input:disabled {
      background: repeating-linear-gradient(142deg, #CCCCCC, #CCCCCC 4px, #999999 22px);
    }
    input:enabled {
      background: var(--primary-light);
    }
    input:focus {
      border: 4px dashed var(--primary-dark);
    }
    input:required {
      border-style: dashed;
    }
    output {}
    meter {}
    progress {}
    select {
      background: var(--primary-light);
      margin: 10px;
      min-width: 300px;
    }
    select::placeholder {
      color: var(--secondary);
    }
      optgroup {}
      option {}
    textarea {
      min-width: 300px;
      background: var(--primary-light);
      margin: 10px;
      min-height: 100px;
    }
    textarea:invalid {
      border:3px solid red;
      border-radius: 5px;
    }
    textarea:valid {
      border:2px solid green;
      border-radius: 5px;
    }
    textarea::placeholder {
      color: var(--secondary);
    }

  
  /* ----- Media ----- */ 
  figure {
    color: var(--secondary);
  }
    figcaption {}
    figure img {
        max-width: 100%;
    } 
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .gallery {
    /* display: flex;
    flex-flow: row wrap; */
  }
  .gallery figure {
    /* width: 40vw; */
  }
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}

  .quantity_display {
    color: var(--secondary);
    margin: 0px 10px;
  }
  
  .add_delivery_button {
    size: 30em;
    color: var(--primary-light);
  }
  
  .options_data_left {
    border-right: none;
  }
  .options_data_right {
    border-left: none;
  }



  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}